/*
 Russell Carlin
*/
html{
    border: 5px solid lightblue;
    overflow: scroll;
}
body{
    font: 14px/1.4em arial;
    color: black;
    background: lightblue;
}
h1{
    font: bold 30px/1em garamond;
    color: blue;
    text-transform: uppercase;
    text-align: center;
    background: #FFD012;
    border: 2px double lightblue;
    margin: 5px 5px 25px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
a{
    font: bold 14px/1.4em garamond;
    color: blue;
    text-transform: uppercase;
    background: #FFD012;
    border: 2px solid light blue;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
a:hover{
    background: red;
}
a:active{
    color: darkred;
    background: gold;
}
#buttons{
    text-align: center;
}
p{
	text-align: center;
}